.Forum_Discussion {
  width: 100%;
}
.Forum_Discussion_container {
  margin-top: 110px;
}
.Forum_discussion_display1 {
  /* width: 100%; */
  margin: 0 60px;
  background: #ffffff;
  border: 1px solid #8cd1ff;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
}
.Forum_discussion_display1 p {
  font-size: 40px;
  font-weight: 700;
  color: #00365a;
  padding: 35px 0;
}
.Forum_discussion_display1_button {
  margin-bottom: 40px;
}
.Forum_discussion_display1_button p {
  font-size: 20px;
  color: #ffffff;
  padding: 11px 40px;
  background-color: #52baff;
  border-radius: 6px;
  width: 290px;
  margin: auto;
}
.Forum_discussion_display1_button a {
  text-decoration: none;
}

/**/
.Forum_discussion_display2 {
  margin: 30px 60px;
}
.Forum_discussion_display2_rapper {
  display: flex;
  /* margin: 0 60px; */
}
.Discussion_display2_button {
  padding: 20px 30px;
  margin: auto;
}
.push {
  font-size: 18px;
  padding: 6px 30px;
  background: #52baff;
  box-shadow: 0px 0px 9px rgba(0, 117, 242, 0.14);
  border-radius: 6px;
  margin-bottom: 30px;
  color: #ffffff;
  cursor: pointer;
}
.delete {
  font-size: 18px;
  padding: 6px 30px;
  background: #ff3a3a;
  box-shadow: 0px 0px 9px rgba(0, 117, 242, 0.14);
  border-radius: 6px;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
}
